#hero {
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
    padding: 12em 8em 16em;
    background: url("https://gocardless.com/images/hero/new-home-hero.jpg") 50% 50% no-repeat #498EE0;
    background-size: cover;
    text-align: center;
    color: #fff;
}

#hero header {
    margin-bottom: 3em;
}

#hero p {
    font-size: 1.5em;
}

#crawl .form-control {
    height: auto;
}

#crawl .btn-primary {
    color: #498EE0;
    background-color: #fff;
    border: 0.2em solid #fff;
    text-transform: uppercase;
    border-radius: 0.2em;
    padding: 0.7em;
}

#crawl #url {
    color: #fff;
    background: none;
    border: 0.2em solid #fff;
    border-radius: 0.2em;
    padding: 0.7em;
}

#crawl #url:focus {
    border-color: #fff;
}

#crawl .form-control::-webkit-input-placeholder {
   color: #ddd;
}

#crawl .form-control:-moz-placeholder { /* Firefox 18- */
   color: #ddd;
}

#crawl .form-control::-moz-placeholder {  /* Firefox 19+ */
   color: #ddd;
}

#crawl .form-control:-ms-input-placeholder {  
   color: #ddd;
}

.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin-webkit 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin-webkit {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

#sitemap {
    margin-top: 5em;
    margin-bottom: 5em;
    font-family: "Montserrat", sans-serif;
}

#sitemap article {
    margin-bottom: 3em;
}

#sitemap header {
    padding: 1em 1.5em;
    background: #498EE0;
    font-size: 2em;
    border-radius: 0.2em 0.2em 0 0;
}

#sitemap header.offsite {
    background: #498;
}

#sitemap header a {
    color: #fff;
}

#sitemap header a:hover {
    color: #ddd;
    text-decoration: none;
}

#sitemap ul {
    padding: 2em 3em;
    background: #f1f1f1;
    border-radius: 0 0 0.2em 0.2em;
}

#sitemap ul a {
    color: #498EE0;
}

#sitemap ul a:hover {
    color: #2066bc;
    text-decoration: none;
}